<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Thorn</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>germandbls</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>longs</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>thorn</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>Scommaaccent</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>A.001</string>
		<string>Aacute.001</string>
		<string>Abreve.001</string>
		<string>Acircumflex.001</string>
		<string>Adieresis.001</string>
		<string>Agrave.001</string>
		<string>Amacron.001</string>
		<string>Aogonek.001</string>
		<string>Aring.001</string>
		<string>Atilde.001</string>
		<string>B.001</string>
		<string>C.001</string>
		<string>Cacute.001</string>
		<string>Ccaron.001</string>
		<string>Ccircumflex.001</string>
		<string>Cdotaccent.001</string>
		<string>D.001</string>
		<string>Dcaron.001</string>
		<string>Dcroat.001</string>
		<string>E.001</string>
		<string>Eacute.001</string>
		<string>Ebreve.001</string>
		<string>Ecaron.001</string>
		<string>Ecircumflex.001</string>
		<string>Edieresis.001</string>
		<string>Edotaccent.001</string>
		<string>Egrave.001</string>
		<string>Emacron.001</string>
		<string>Eogonek.001</string>
		<string>Eth.001</string>
		<string>G.001</string>
		<string>Gbreve.001</string>
		<string>Gcircumflex.001</string>
		<string>Gcommaaccent.001</string>
		<string>Gdotaccent.001</string>
		<string>L.CAT</string>
		<string>M.001</string>
		<string>M.002</string>
		<string>N.001</string>
		<string>Nacute.001</string>
		<string>Ncaron.001</string>
		<string>Ncommaaccent.001</string>
		<string>Ntilde.001</string>
		<string>P.001</string>
		<string>R.001</string>
		<string>Racute.001</string>
		<string>Rcaron.001</string>
		<string>Rcommaaccent.001</string>
		<string>T.001</string>
		<string>T.002</string>
		<string>Tbar.001</string>
		<string>Tcaron.001</string>
		<string>Tcaron.002</string>
		<string>Tcedilla.001</string>
		<string>Tcedilla.002</string>
		<string>Tcommaaccent.001</string>
		<string>Tcommaaccent.002</string>
		<string>dotlessj</string>
		<string>scommaaccent</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>g.001</string>
		<string>gbreve.001</string>
		<string>gcircumflex.001</string>
		<string>gcommaaccent.001</string>
		<string>gdotaccent.001</string>
		<string>i.TRK</string>
		<string>iogonek.dotless</string>
		<string>j.TRK</string>
		<string>k.001</string>
		<string>kcommaaccent.001</string>
		<string>z.001</string>
		<string>zacute.001</string>
		<string>zcaron.001</string>
		<string>zdotaccent.001</string>
		<string>c_t</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_hcircumflex</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_f_thorn</string>
		<string>f_h</string>
		<string>f_hcircumflex</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>f_thorn</string>
		<string>longs_b</string>
		<string>longs_h</string>
		<string>longs_i</string>
		<string>longs_j</string>
		<string>longs_k</string>
		<string>longs_l</string>
		<string>longs_longs</string>
		<string>longs_longs_b</string>
		<string>longs_longs_h</string>
		<string>longs_longs_i</string>
		<string>longs_longs_j</string>
		<string>longs_longs_k</string>
		<string>longs_longs_l</string>
		<string>longs_longs_thorn</string>
		<string>longs_thorn</string>
		<string>f_f_k.001</string>
		<string>f_k.001</string>
		<string>longs_k.001</string>
		<string>longs_longs_k.001</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>fraction</string>
		<string>zero.denom</string>
		<string>one.denom</string>
		<string>two.denom</string>
		<string>three.denom</string>
		<string>four.denom</string>
		<string>five.denom</string>
		<string>six.denom</string>
		<string>seven.denom</string>
		<string>eight.denom</string>
		<string>nine.denom</string>
		<string>zero.hanging</string>
		<string>one.hanging</string>
		<string>two.hanging</string>
		<string>three.hanging</string>
		<string>four.hanging</string>
		<string>five.hanging</string>
		<string>six.hanging</string>
		<string>seven.hanging</string>
		<string>eight.hanging</string>
		<string>nine.hanging</string>
		<string>zero.lining</string>
		<string>one.lining</string>
		<string>two.lining</string>
		<string>three.lining</string>
		<string>four.lining</string>
		<string>five.lining</string>
		<string>six.lining</string>
		<string>seven.lining</string>
		<string>eight.lining</string>
		<string>nine.lining</string>
		<string>zero.numer</string>
		<string>one.numer</string>
		<string>two.numer</string>
		<string>three.numer</string>
		<string>four.numer</string>
		<string>five.numer</string>
		<string>six.numer</string>
		<string>seven.numer</string>
		<string>eight.numer</string>
		<string>nine.numer</string>
		<string>zero.sub</string>
		<string>one.sub</string>
		<string>two.sub</string>
		<string>three.sub</string>
		<string>four.sub</string>
		<string>five.sub</string>
		<string>six.sub</string>
		<string>seven.sub</string>
		<string>eight.sub</string>
		<string>nine.sub</string>
		<string>zero.sup</string>
		<string>one.sup</string>
		<string>two.sup</string>
		<string>three.sup</string>
		<string>four.sup</string>
		<string>five.sup</string>
		<string>six.sup</string>
		<string>seven.sup</string>
		<string>eight.sup</string>
		<string>nine.sup</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>minute</string>
		<string>numbersign</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>overline</string>
		<string>bullet.001</string>
		<string>bullet.002</string>
		<string>bullet.003</string>
		<string>softhyphen</string>
		<string>space</string>
		<string>emquad</string>
		<string>emspace</string>
		<string>enquad</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>four-per-emspace</string>
		<string>hairspace</string>
		<string>narrownbspace</string>
		<string>nbspace</string>
		<string>punctuationspace</string>
		<string>six-per-emspace</string>
		<string>thinspace</string>
		<string>three-per-emspace</string>
		<string>zerowidthspace</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>dollar.hanging</string>
		<string>dollar.lining</string>
		<string>micro</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>tildecomb</string>
		<string>asciicircum</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomp</string>
		<string>commaaboverightcomb</string>
		<string>commaaccent</string>
		<string>commaturnedabovecomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ogonekcomb</string>
		<string>ringcomb</string>
		<string>acutecomb.cap</string>
		<string>brevecomb.cap</string>
		<string>caroncomb.cap</string>
		<string>circumflexcomp.cap</string>
		<string>dieresiscomb.cap</string>
		<string>dotaccentcomb.cap</string>
		<string>dotaccentcomb.high</string>
		<string>gravecomb.cap</string>
		<string>hungarumlautcomb.cap</string>
		<string>macroncomb.cap</string>
		<string>ringcomb.cap</string>
		<string>tildecomb.cap</string>
		<string>commaturnedmod</string>
		<string>glottalstopmod</string>
		<string>verticallinemod</string>
		<string>afii00208</string>
		<string>afii299</string>
		<string>afii300</string>
		<string>afii301</string>
		<string>afii57929</string>
		<string>afii61664</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>uni201F</string>
		<string>uni2053</string>
		<string>uni205F</string>
		<string>uni2060</string>
		<string>uniFEFF</string>
		<string>.notdef</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
</dict>
</plist>
